<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> Add product </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Title</ion-label>
    <ion-input type="text" [(ngModel)]="product.title"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Description</ion-label>
    <ion-textarea [(ngModel)]="product.description"></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Price</ion-label>
    <ion-input type="text" [(ngModel)]="product.price"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Quantity</ion-label>
    <ion-input type="text" [(ngModel)]="product.quantity"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Category</ion-label>
    <ion-input type="text" [(ngModel)]="product.category"></ion-input>
  </ion-item>
  <ion-list>
    <style>
      /* Hide the default file input button */
      input[type="file"] {
        display: none;
      }

      /* Style the custom button to mimic the file input button */
      .custom-file-upload {
        border: 1px solid #ccc;
        display: inline-block;
        padding: 6px 12px;
        cursor: pointer;
        background-color: #f0f0f0;
        color: #333;
        border-radius: 4px;
      }
    </style>

    <br />
    <ion-item>
      <!-- Custom file input button -->
      <label for="file-upload" class="custom-file-upload">
        <ion-icon name="images-outline"></ion-icon>
      </label>
      <!-- Actual file input element -->
      <input
        id="file-upload"
        type="file"
        (change)="onFileSelected($event)"
        accept="image/*"
        multiple
      />
    </ion-item>
  </ion-list>
  <br /><br />
  <ion-button expand="block" (click)="ajouterProduit()" (click)="presentAlert()"
    >Add</ion-button
  >
</ion-content>
