
ion-badge {
  margin-right: 20px;
  position: absolute;
  right: 0;
  top: 10px;
}

ion-icon[name="cart-outline"] {

  color: rgba(252, 109, 7, 0.74);
}

ion-buttons[slot="end"] > ion-button.cart {
  margin-right: 20px;
}
.cat{
  margin-top: 30px;
}
.sort{
  margin-top: 30px;
  margin-left: 160px;
}