<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-title> App Name </ion-title>
      <ion-buttons slot="end">
              <ion-button (click)="toggleSearch()" *ngIf="!showSearch">
                  <ion-icon name="search-outline" slot="icon-only"></ion-icon>
              </ion-button>
              
                <ion-buttons slot="primary" style="margin-right: 50px;">
                  <div class="circle-container-nav">
                    <p style="color: white;">0</p>
                  </div>
                  <ion-icon name="cart" style="color: orange;" class="toolbar-icon" size="large"></ion-icon>
                    </ion-buttons>
                  
              
                 
          </ion-buttons>
         <!-- <ion-badge color="light" slot="end">{{ count || 0 }}</ion-badge>-->
         <ion-searchbar #searchBar [hidden]="!showSearch" (ionCancel)="toggleSearch()"  clear-icon="trash-bin">

        <ion-buttons slot="end" style="color:orange ;padding-left: 100px;">
            <ion-button slot="end">
              <ion-icon name="search-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-searchbar>
  
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-list>
    <ion-item *ngFor="let product of products">
      <ion-thumbnail slot="start">
        <img [src]="product.images[0]" alt="Product Image">
      
      </ion-thumbnail>
      <ion-label>
        <h2>{{ product.title }}</h2>
        <p>{{ product.description }}</p>
        <p>{{ product.price }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
