<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-title> QuikBuy </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="toggleSearch()" *ngIf="!showSearch">
        <ion-icon name="search-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button slot="primary" class="cart" (click)="navigateToCart()">
        <ion-icon name="cart" size="large" style="color: orange;"></ion-icon>
      </ion-button>
      <ion-badge color="light" slot="end">{{items}}</ion-badge>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-toolbar [hidden]="!showSearch">
      <ion-searchbar  [hidden]="!showSearch" (ionCancel)="toggleSearch()"  clear-icon="trash-bin" [(ngModel)]="searchInput" (ionChange)="searchProducts()" size="large">
      </ion-searchbar>
      <ion-buttons slot="end" style="color:orange ;padding-left: 100px;">
        <ion-button slot="end">
          <ion-icon name="search-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="toggleSearch()">
          <ion-icon name="close-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar >

      <ion-toolbar>
      <ion-button  class="cat"(click)="showCategories()" >
        <ion-icon name="list-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button class="sort"(click)="showSorting()">
        <ion-icon name="funnel-outline"slot="icon-only"></ion-icon>
      </ion-button>
    </ion-toolbar >
  


<ion-content [fullscreen]="true">
  <ion-list *ngIf="showCategorie">
    <ion-radio-group [(ngModel)]="selectedCategory">
      <ion-item *ngFor="let category of categories">
        <ion-label>{{ category }}</ion-label>
        <ion-radio [value]="category"></ion-radio>
      </ion-item>
    </ion-radio-group>
    <ion-button expand="block" color="primary" (click)="selectCategory(selectedCategory)">OK</ion-button>
  </ion-list>


  <ion-list *ngIf="showSort">
    <ion-list-header>
      <ion-label>Sort By</ion-label>
    </ion-list-header>
    <ion-radio-group [(ngModel)]="selectedSort">
    <ion-item>
      <ion-label>Newest Arrivals</ion-label>
      <ion-radio slot="start" value="newest"></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Price High To Low</ion-label>
      <ion-radio slot="start" value="highToLow" ></ion-radio>
    </ion-item>
    <ion-item>
      <ion-label>Price Low To High</ion-label>
      <ion-radio slot="start" value="lowToHigh"  ></ion-radio>
    </ion-item>
  </ion-radio-group>
    <ion-button expand="block" color="primary" (click)="sortProducts(selectedSort)">Apply</ion-button>
  </ion-list>

  <ion-list *ngIf="!showCategorie">
    <ion-item *ngFor="let product of products" (click)="navigateToProductDetails(product.id)">
      <ion-thumbnail slot="start">
        <img [src]="product.images[0]" alt="Product Image">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ product.title }}</h2>
        <p>{{ product.description }}</p>
        <p>{{ product.price }} DT</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>
