<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">profile</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list lines="full" >
    <ion-item>
      <ion-label position="stacked">Nom</ion-label>
      <ion-input type="text" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Adresse Email</ion-label>
      <ion-input type="email"></ion-input>
    </ion-item>
    <!-- Ajoutez d'autres champs selon les besoins -->
    <ion-button expand="full" >Mettre à jour</ion-button>
  </ion-list>
</ion-content>
